* {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 14px;
	background-color: var(--color-bg-1);
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}
a{
	text-decoration:none
}
.echarts-tooltip-diy {
	background: linear-gradient(
		304.17deg,
		rgba(253, 254, 255, 0.6) -6.04%,
		rgba(244, 247, 252, 0.6) 85.2%
	) !important;
	border: none !important;
	backdrop-filter: blur(10px) !important;
	/* Note: backdrop-filter has minimal browser support */

	border-radius: 6px !important;
	.content-panel {
		display: flex;
		padding: 0 9px;
		background: rgba(255, 255, 255, 0.8);
		min-width: 100px;
		height: 32px;
		line-height: 32px;
		box-shadow: 6px 0px 20px rgba(34, 87, 188, 0.1);
		border-radius: 4px;
		margin-bottom: 4px;
	}
	.tooltip-title {
		margin: 0 0 10px 0;
	}
	p {
		margin: 0;
	}
	.tooltip-title,
	.tooltip-value {
		font-size: 13px;
		padding-left: 10px;
		line-height: 15px;
		display: flex;
		align-items: center;
		text-align: right;
		color: #1d2129;
		font-weight: bold;
	}
	.tooltip-item-icon {
		display: inline-block;
		margin-right: 8px;
		width: 10px;
		height: 10px;
		border-radius: 50%;
	}
}

.general-card {
	min-height: 395px;
	border-radius: 4px;
	border: none;
	& > .arco-card-header {
		height: auto;
		padding: 20px;
		border: none;
	}
	& > .arco-card-body {
		padding: 0 20px 20px 20px;
	}
}

.split-line {
	border-color: rgb(var(--gray-2));
}

.arco-table-cell {
	.circle {
		display: inline-block;
		margin-right: 4px;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background-color: rgb(var(--blue-6));
		&.pass {
			background-color: rgb(var(--green-6));
		}
	}
}

// 自定义
.padding-top-xs {
	padding-top: 6px;
}

.padding-bottom-sm {
	padding-bottom: 12px;
}

.padding-right-xl {
	padding-right: 50px;
}

.margin-top-xs {
	margin-top: 6px;
}

.margin-top {
	margin-top: 20px;
}

.text-price::before {
	content: '¥';
	font-size: 70%;
	margin-right: 4rpx;
}

.text-green {
	color: rgb(var(--success-6));
}

.text-red {
	color: rgb(var(--red-6));
}

.text-left {
	text-align: left;
}


.text-label {
	color: var(--color-text-3);
	padding-right: 5px;
	font-weight: 500;
}

.text-owt {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.text-cut-two {
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.text-cut-three {
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.text-link {
	color: rgb(var(--link-6));
	cursor: pointer;
}

.cursor-pointer {
	cursor: pointer;
}

.box-flex {
	display: flex;
}

.box-flex-c {
	display: flex;
	flex-direction: column;
}

.ai-c {
	align-items: center;
}

.ai-fe {
	align-items: flex-end;
}

.jc-sa {
	justify-content: space-around;
}

.jc-sb {
	justify-content: space-between;
}

.jc-c {
	justify-content: center;
}

.jc-fe {
	justify-content: flex-end;
}

.flex1 {
	flex: 1;
}

.flex-warp {
	flex-wrap: wrap;
}

.arco-dropdown-open .arco-icon-down {
	transform: rotate(180deg);
}

.zs-table .arco-table-td-content .arco-empty {
	padding: 100px 0;
}

.custom-modal {
	padding: 20px;
	.arco-modal-header {
		margin-bottom: 10px;
	}
	.arco-modal-title {
		justify-content: start;
	}
	.arco-modal-footer {
		margin-top: 10px;
		text-align: right;
	}
}

.table-setting {
	width: 180px;
	padding: 10px 20px;
	background-color: var(--color-bg-popup);
	border-radius: 4px;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
	.table-setting-item {
		margin-top: 10px;
	}
}

/* 过渡动画 横向渐变 */
.fade-transverse-leave-active,
.fade-transverse-enter-active {
	transition: all 0.4s ease-out;
}
.fade-transverse-enter-from {
	transform: translateX(20px);
	opacity: 0;
}
.fade-transverse-enter-to {
	transform: translateX(0);
	opacity: 1;
}
.fade-transverse-leave-from {
	transform: translateX(0px);
	opacity: 1;
}
.fade-transverse-leave-to {
	transform: translateX(-20px);
	opacity: 0;
}
